.para{
    font-size: 16px;
    background-color: rgb(0, 255, 213);
}

.para:hover{
    background-color: yellow;
}

header{
    font-size: 24px;
    color: blue;
    text-align: center;
}

a[target="_blank"]{
    text-decoration: underline;
}

input.required{
    border: 1px solid red;
}

button:hover{
    background-color: rgb(255, 0, 170);
}

ul>li{
    font-weight: bold;
}

h1+h2{
    color: rgb(238, 144, 160);
}